@import url('https://fonts.googleapis.com/css2?family=Jersey+20+Charted&family=Pixelify+Sans:wght@400..700&display=swap&family=Jersey+10&display=swap');

:root {

    /* Fontes padrões */
    --fonte-principal: "Pixelify Sans";
    --fonte-secundaria: "Jersey 20 Charted";

    /* Cores padrões */
    --cor-principal: #DAD7CD;
    --cor-secundaria: #A3B18A;
    --cor-separador: #5d8d5c;
    --cor-fundo: #344E41;

}

/* =========================== | Interface | ======================= */
/* -------- | Classe responsavel pela sepação do conteudo | -------- */
.interface {
    /* cor */
    border-color: var(--cor-separador);

    /* Estilo da borda */
    border-style: solid;
}

a {
    color: var(--cor-secundaria);
    text-decoration: underline;

}
/* Estilizando a scrollbar interna de um div com ID .resultados" */
::-webkit-scrollbar {
    width: 15px;
    /* Largura da scrollbar */
}

::-webkit-scrollbar-track {
    margin: 5px;
    background: var(--cor-separador);
    border-style: solid;
    border-color: var(--cor-fundo);
    border-width: 6px;
}

::-webkit-scrollbar-thumb {
    background: var(--cor-separador);
    border-style: solid;
    border-color: var(--cor-fundo);
    border-width: 3px;
}

/* ===================== | FILTER NOISE | ============================*/
.noise::before {
    /* Codigo para criar efeito de chiado na pagina */
    background-image: url(./image/noise.webp);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: 0.01;
    z-index: 1000;
    pointer-events: none;
    /* Este bloco de Codigo foi copiado de yt/Taimoor Shahzada */
}

/* ============================= | BODY | ============================*/
body {
    /* Estilização do body */
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);
    width: 95vw;
    height: 90vh;
    cursor: default;

    /* Organização dos elementos */
    display: grid;
    margin: 40px;
    justify-items: center;
}



/* =========================== | Header | ======================= */

.nome-site {
    /* Organização dos elementos */
    display: grid;
    align-items: center;
    justify-content: center;

    /* Centralização do texto */
    position: absolute;
    text-align: center;
    top: 10px;
    /* Calculo para centralizar */
    /* wd/2 + left = 50% do body */
    left: 35%;
    width: 30%;

    /* Estilização do nome */
    background-color: var(--cor-fundo);
    border-color: transparent;
    border-right: var(--cor-separador);
    border-left: var(--cor-separador);
    border-style: solid;
}

/* Estilização do titulo */
.nome-site h1 {
    color: var(--cor-principal);
    margin: 0;
}

/* Estilização do subtitulo */

.nome-site h2 {
    color: var(--cor-secundaria);
    margin: 0;
}


/* =========================== | MAIN | ======================= */

main {
    /* Posicionamento do bloco principal */
    position: absolute;
    top: 10%;
    /* Organização dos itens internos */
    display: grid;
    grid-template-areas:
        "resultados detalhes"
        "resultados detalhes"
        "buscador criador";
    grid-template-columns: 3.5fr 2fr;
    grid-template-rows: 6fr 1fr;
    gap: 10px;

    /* Definição de tamanho para MAIN */
    width: 90%;
    height: 80%;
}

/* ------------------------- Resultados --------------------- */
.resultados {
    /* Posicionamento dos resultados */
    grid-area: resultados;
    /* Forçar scroll dentro da div resultados */
    overflow-y: auto;
}



.jogos {
    /* Posicionamento dos itens no menu de resultados */
    margin: 10px;

    /* cor */
    color: var(--cor-secundaria);
    border-color: transparent;
    border-bottom: var(--cor-separador);


    /* Estilo da borda */
    border-width: 2px;
    border-style: solid;

    transition: all 0.3s;

    cursor: none;
}

.jogos:hover {
    /* Estilização da animação dos botões */
    background-color: var(--cor-separador);
    color: var(--cor-principal);
    animation: ease-in-out;
    transition: .1s;
    cursor: pointer;
}

/* Div responsavel por informar o usuario da necessidade de uma busca */
.semConteudo {

    /* Disposição do texto */
    display: flex;
    justify-content: center;
    /* Estilização */
    color: var(--cor-separador);
    font-size: 200%;
    /* Centralização do conteudo na div resultados */
    position: relative;
    width: 20%;
    height: 10%;
    top: 45%;
    left: 40%;
    /* ↑ calc: (width ou height)/2 + posições */

}

/* ------------------------ Barra de pesquisa ---------------- */
.buscador {
    /* Posicionamento da barra e botão de pesquisa */
    grid-area: buscador;

    /* Disposição dos itens internos */
    display: flex;
    justify-content: space-between;
}

.buscador input {
    /* Estilização do input */
    outline: none;
    border-style: solid;
    border-color: var(--cor-separador);
    background-color: transparent;
    color: var(--cor-secundaria);
    width: 70%;
    /* Estilização da letra */
    font-family: var(--fonte-principal);
    font-size: 200%;
    /* Centralização do texto */
    text-align: center;
}

/* ------------------------ Botão de pesquisa ---------------- */
.buscador button {
    /* Estilização do botão */
    border-style: solid;
    border-color: var(--cor-separador);
    color: var(--cor-separador);
    background-color: transparent;
    width: 30%;
    margin-left: 10px;
    /* Transição de animação */
    transition: .5s;
    /* Estilização do texto */
    font-family: var(--fonte-principal);
    font-size: 200%;

}

.buscador button:hover {
    /* Estilização da animação dos botões */
    background-color: var(--cor-separador);
    color: var(--cor-principal);
    animation: ease-in-out;
    transition: .1s;
    cursor: pointer;
}

/* ------------------------- Detalhes ----------------------- */
.detalhes {
    /* Posicionamento da div */
    grid-area: detalhes;
    
}

.detalhesJogo{
    height: 90%;
    /* Organização dos intens irtenos */
    display: flex;
    flex-direction: column;
    padding: 10px;
    
    /* Estilização de itens */
    color: var(--cor-secundaria);
}

.headerJogo {
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
    
    /* cor */
    color: var(--cor-secundaria);
    border-color: transparent;
    border-bottom: var(--cor-separador);


    /* Estilo da borda */
    border-width: 2px;
    border-style: solid;
    
}

.headerJogo .capa {
    display: flex;
    width: 200px;
    height: 200px;
}

.capa img {
    filter: sepia(1) hue-rotate(45deg);
    width: 200px;
    height: 200px;
    object-fit: fill;
}

.headerJogo .textoHeader{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.textoHeader h2{
    margin: 0;
    font-size: 30px;
}

.textoHeader p{
    
    margin: 0;
}

.detalhes .descricaoJogo {
    
    height: 100%;
    margin-top: 10px;
    padding: 10px;

    overflow-y: auto;
    /* cor */
    color: var(--cor-secundaria);
    border-color: var(--cor-separador);


    /* Estilo da borda */
    border-width: 2px;
    border-style: solid;
    
}

/* ------------------------- Creditos ----------------------- */
.criador {
    grid-area: criador;

    height: 100%;
    width: 100%;

    text-align: end;
    font-size: 20px;
    color: var(--cor-separador);
}